<div class="hero-banner">
    <div class="hero-banner-heading">
        <div style="flex-grow: 1;">
            
        </div>
    @if (todaysVerse != null)
    {
        <div class="@colorContrast" style="padding: 0 50px;">
            <h5>@todaysVerse.Text</h5>
        </div>
        <div class="@colorContrast" style="padding: 0 50px;">
            <p><strong>@todaysVerse.VerseId</strong> <span>@todaysVerse.BibleId</span></p>
        </div>
    }
        <div style="flex-grow: 1;">
        </div>
    </div>
@if (bannerImage != null) 
{
    <div class="hero-banner-title-link">
        <a class="@colorContrast" href="@bannerImage.PhotographerUrl" target="_blank">Photo by @bannerImage.Photographer</a>
    </div>
}
</div>