<div class="occurence-row">
    <div class="today-date">
        <h1>@todaysDate.Day</h1>
        <p>@todaysDate.ToString("MMM")</p>
    </div>
    <div class="today-verse">
        @if (todaysVerse is null)
        {
            <p>loading...</p>
        }
        else
        {
            <p>@todaysVerse.Text</p>
            <span>@todaysVerse.VerseId (@todaysVerse.BibleId)</span>
        }
    </div>
</div>