@page "/editChart"
@page "/editChart/{chartId:int}"

<div class="cell-header" @onclick="BackToMain">
    <a><i class="fa-solid fa-arrow-left"></i> Back</a>
</div>
<div class="cell cell-3 cell-center">
    <div class="cell-header-text text-lg">
        @(chartId.HasValue ? "Edit Chart" : "New Chart")
    </div>
</div>

<EditForm Model="activeChart" OnSubmit="Save" class="cell cell-4 cell-v cell-h2">
    @if (activeChart.Id > 0)
    {
        <label>Created @activeChart.DateCreated.ToString("dd MMM yyyy HH:mm")</label>
        <label>Last updated @activeChart.DateUpdated.ToString("dd MMM yyyy HH:mm")</label>
    }
    <label for="daily-title">Title</label>
    <InputText id="daily-title" @bind-Value=activeChart.Title />
    <label for="daily-desc">Description</label>
    <InputTextArea id="daily-desc" class="flex-exp" @bind-Value=activeChart.Description />
    <div class="cell-footer">
        <button class="btn-sm">Save</button>
    </div>
</EditForm>

@if (activeChart.Id > 0)
{
    <EditForm Model="currentGoal" OnSubmit="SaveGoal" class="cell cell-4">
        <label for="goal-desc">Title</label>
        <InputText id="goal-desc" @bind-Value=currentGoal.Description />
        <div class="cell-footer">
            <button class="btn-sm">Set Goal</button>
        </div>
    </EditForm>

    @if (currentGoal is not null && currentGoal.Id > 0)
    {
        <EditForm Model="currentPractice" OnSubmit="SavePractice" class="cell cell-4">
            <label for="goal-desc">Title</label>
            <InputText id="goal-desc" @bind-Value=currentPractice.Description />
            <div class="cell-footer">
                <button class="btn-sm">Set My Practice</button>
            </div>
        </EditForm>
    }
}
@if(Goals is not null && Goals.Count() > 0)
{
    @foreach (ChartGoalViewModel item in Goals)
    {
        <div class="cell cell-4 cell-h2">
            <p>@item.Goal.Description</p>
            @if (item.IsAddNewPractice)
            {
                <label for=""></label>
                <input @bind-value="newPractice"/>
                <button @onclick="()=>AddGoalPractice(item)">Save</button>
                <button @onclick="()=>AddGoalPracticeToggle(item)">Cancel</button>
            }
            else
            {
                <button @onclick="()=>AddGoalPracticeToggle(item)">Add Practice</button>
            }
            <button @onclick="()=>EditGoal(item)">Edit</button>
            <button @onclick="()=>DeleteGoal(item.Goal.Id)">Delete</button>
            @if(Practices is not null){
                var goalPractices = Practices.Where(x => x.Practice.GoalId == item.Goal.Id).OrderBy(x => x.Practice.GoalId);
                if (goalPractices is not null && goalPractices.Count() > 0) 
                { 
                <table style="width: 100%;">
                <thead>
                    <tr>
                        <th colspan="2">Practices</th>
                    </tr>
                </thead>
                <tbody style="overflow-y: auto">
                    @foreach (ChartPracticeViewModel practice in goalPractices)
                    {
                        <tr>
                            <td>
                                @if(practice.IsEditing)
                                {
                                <input @bind-value="newPractice"/>
                                }
                                else 
                                {
                                @practice.Practice.Description
                                }
                            </td>
                            <td>
                                @if(practice.IsEditing)
                                {
                                <button @onclick="()=>SavePractice()">Save</button>
                                <button @onclick="()=>EditPractice(practice)">Cancel</button>
                                }
                                else 
                                {
                                <button @onclick="()=>EditPractice(practice)">Edit</button>
                                }
                                <button class="btn-warning" @onclick="()=>DeletePractice(practice.Practice.Id)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            }
        </div>
    }
}